@import "../../var.scss";

$tab-border: 1px solid $border-color-1;

.tab-group {
    display        : flex;
    justify-content: center;
    margin         : 10px 0;
    column-gap     : 4px;

    .tab {
        background-color: $bg-color-2;
        padding         : 10px 12px;
        cursor          : pointer;
        border-radius   : $border-radius-1;
        color           : $color-1;

        &:hover {
            background-color: $bg-color-hover-2;
        }
    }
}
