$bg-color-1      : #4f46e5;
$bg-color-2      : #eef2ff;
$bg-color-3      : #eef2fc;
$bg-color-hover-2: #d7dffa;
$border-color-1  : rgba(199, 210, 254);
$border-color-2  : #e5e7eb;
$border-radius-1 : 0.375rem;
$border-radius-2 : 0.45rem;
$color           : #adabe7;
