$bg-color-1      : #F7F7F7;
$bg-color-2      : #EEF2FC;
$bg-color-3      : #5846CF;
$bg-color-4      : #F5F5F5;
$bg-color-hover-2: #d7dffa;
$border-color-1  : rgba(199, 210, 254);
$border-color-2  : #e5e7eb;
$border-radius-1 : 0.375rem;
$border-radius-2 : 0.45rem;
$color-1         : #5846CF;
$color-2         : #adabe7;
